<div class="container">
  <div class="row">
    {{#each frutas}}
      <div class="col-md-4">
        <p>{{this}}</p>
        <img src="/assets/img/{{this}}.png" alt="/" id="{{this}}" />
      </div>
    {{/each}}

  </div>
</div>